{% load staticfiles %}
<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>ORGANIC FARMING</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
	<div id="header">
		<div>
			<a href="index.html" id="logo"><img src="{% static "images/logo.png" %}" alt="logo"></a>
			<ul>
				<li>
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="subdivisions.html">Subdivisions</a>
				</li>
				<li>
					<a href="blog.html">Blog</a>
				</li>
				<li class="selected">
					<a href="about.html">About</a>
				</li>
				<li>
					<a href="contact.html">Contact</a>
				</li>
				<li>
					<a href="realdat.html">wokstation</a>
				</li>
               


			</ul>
		</div>
	</div>
	<div id="body" class="about">
		<h3>  stop surviving start to live</h3>
		<p>
			 when we refer to food quality we've always come across the word fresh.but is freshness
			 included in the package ?.try walking into the departmental store next time
			 grabbing  some vegies just fancy some alien names like Malathion,dinotefuran,becoz this
			 might be included in your freshness package.and once you see the word fresh ,in the blink
			 of an eye believe yes it is. 

		</p>
		<h3>well would you like a rewind</h3>
		<p>
			what if we could see this fancy names on the 
			 package ,would you still have the guts to buy knowingly?, that these names might one day decorate our tombstones ,cost us our precious health.we believe your answer would be an 
			 emphatic NO!.if then check this out take a closer look at the fuz at large
			 <a href="http://consumer-voice.org/comparative-product-testing/Health-Care/Vegetables-Indias-poisoned-staple2010">consumer-voice.org</a> tell us all about it. Maybe you’re looking for something diferent, something special.May be it is time for the change
		</p>
		<h3>Be Part of Our Community</h3>
		<p>
			 travell back in time just see those good old days when you stood proud near 
			 that backyard garden,..bring back the tastes that still linger ,becoz you knew and you felt the goodness  within those delicacies that mother nature served us ,trust us we are obliged to bring it back .we do this together ,with you. not corporate.not a million dollar scarecrow but real people coming together starting to redefine goodfood ensuring that generations shall stay
			 healthy and and guard the goodness within coz it all starts from mother nature herself. checkout <a href="https://en.wikipedia.org/wiki/Roof_garden">wiki for current trends in rooftop farming</a>
			 
		</p>
		<h3>the goodness within</h3>
		<!--p>
			Design version 4 <br> Code version 4 <br> Website Template details, discussion and updates for this <a href="http://www.freewebsitetemplates.com/discuss/ecoliving/">Eco Living Website Template
		</p-->
		<p>
			please support us donations :
		</p>
	</div>
	<div id="footer">
		<div>
			<p>
				&#169; 2023 VIOLITE. All Rights Reserved.
			</p>
			<!--div class="connect">
				<a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus">google+</a> <a href="http://www.freewebsitetemplates.com/misc/contact" id="contact">contact</a> <a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a> <a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a>
			</div-->
		</div>
	</div>
</body>
</html>