{% load staticfiles %}
<!DOCTYPE html>
<!-- Website template by google.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Eco Living Website Template</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<div id="header">
		<div>
			<a href="index.html" id="logo"><img src="{% static "images/logo.png" %}" alt="logo"></a>

			<ul>
				<li class="selected">
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="subdivisions.html">Subdivisions</a>
				</li>
				<li>
					<a href="blog.html">Blog</a>
				</li>
				<li>
					<a href="about.html">About</a>
				</li>
				<li>
					<a href="contact.html">Contact</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="body" class="home">
		<div class="blog">
			
			<img src="{% static "images/house.png" %}" alt="">
			<div>
				<img src="{% static "images/kayamura.png" %}" alt="">
				<h3>WELCOME TO THE GREEN PLANET</h3>
				<p>
				we are here to help yout cop with your crop,
				</p>
			</div>
		</div>
		<div class="article">
			<div>
				<h3>DISCOVER THE BEAUTY OF FARMING </h3>
				<p>
					bring out love for nature ,find what obscures yourself from farming
					rediscover modern methodologies in farming find what happens when technology
					blends into your farming need,how you can live the goodness within
					join us together with professionals to make your average farm yield more
				</p>
				<!--p>
					You can replace all this text with your own text. You can remove <br> any link to our website from this website template, you're free to <br> use this website template without linking back to us.
				</p-->
				<p>
				</p>
			</div>
			
			<img src="{% static "images/nature-place-photo.png" %}" alt="">
		</div>
		<div class="news">
			
			<img src="{% static "images/eco-park.png" %}" alt="">

			<div>
				<h3>OUT OF THE GREEN BOX</h3>
				<p>
				WE WILL HELP YOU  FIND YOUR BUDGET GREEN HOUSE.ASSIST YOU IN SETTINGUP ROOFTOP GARDENS
				OF YOUR CHOICE 	ENLIGHTEN YOU WITH CURRENT TRENDS IN TERRACE FARMING.POSSIBLY IN THE FUTURE
				YOU CAN EXPECT CUSTOMISED FLAVOURS FOR SEASONAL CROP PACKAGES .
				</p>
				<p>
					
				</p>
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<p>
				&#169; 2023 Tree Valley. All Rights Reserved.
			</p>
			<div class="connect">
				<a href="http://google.com/go/googleplus/" id="googleplus">google+</a> <a href="http://www.google.com/misc/contact" id="contact">contact</a> <a href="http://google.com/go/facebook/" id="facebook">facebook</a> <a href="http://google.com/go/twitter/" id="twitter">twitter</a>
			</div>
		</div>
	</div>
</body>
</html>