
{% load staticfiles %}

<html>

    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>BLOG FIRST</title>
    </head>

    <body>

        <div>
         <h1><a href="">FIRST DJANGO BLOG</a></h1>
         <img src="{% static "ColorRotate.gif" %}" alt="Picture of Rango" /> <!-- New line -->
         {% for post in posts %}
          <div>
          <p>published: {{ post.published_date }}</p>
          <h1><a href="">{{ post.title }}</a></h1>
          <p>{{ post.text|linebreaks }}</p>
          </div>
         {% endfor %}

        </div>
    </body>
</html 