{% load staticfiles %}
<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Subdivisions</title>
	
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
	<div id="header">
		<div>
			<a href="index.html" id="logo"><img src="{% static "images/logo.png" %}" alt="logo"></a>
			
			<ul>
				<li>
					<a href="index.html">Home</a>
				</li>
				<li class="selected">
					<a href="subdivisions.html">Subdivisions</a>
				</li>
				<li>
					<a href="blog.html">Blog</a>
				</li>
				<li>
					<a href="about.html">About</a>
				</li>
				<li>
					<a href="contact.html">Contact</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="body" class="subdivisions">
		<ul>
			<li>
				<div>
					<h3>PRO FARM </h3>
					<p>
						KNOWLEDGE SHARING PLATFORM FOR PROFESSIONALS AND HORTICULTURALISTS
					</p>
				</div>
				<a href="blog.html"><img src="{% static "images/subdivision1.png" %}" alt=""></a>


			</li>
			<li>
				<div>
					<h3>VEG GARDEN</h3>
					<p>
				      LIVE COMMUNITY ASSISTANCE IN ROOFTOP FARMING METHODOLOGIES 
					</p>
				</div>
				<a href="blog.html"><img src="{% static "images/subdivision2.png" %}" alt=""></a>

			</li>
			<li>
				<div>
					<h3>SABER LIGHT</h3>
					<p>

						CONTROLLED ENVIRONEMENT FOR SPECIFIC TRENDS</p>
				</div>
				<a href="blog.html"><img src="{% static "images/subdivision3.png" %}" alt=""></a>
			</li>
			<li>
				<div>
					<h3>TIN DROP</h3>
					<p>
						WASTE WATER MANAGEMENT EFFECTIVE HYDROPHONICS DEPLOYMENT
					</p>
				</div>
				<a href="blog.html"><img src="{% static "images/subdivision4.png" %}" alt=""></a>
			</li>
		</ul>
	</div>
	<div id="footer">
		<div>
			<p>
				&#169; 2023 intelliswan. All Rights Reserved.
			</p>
			<div class="connect">
				<a href="http://google.com/go/googleplus/" id="googleplus">google+</a> <a href="http://www.google.com/misc/contact" id="contact">contact</a> <a href="http://google.com/go/facebook/" id="facebook">facebook</a> <a href="http://google.com/go/twitter/" id="twitter">twitter</a>
			</div>
		</div>
	</div>
</body>
</html>